<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-8 offset-2">
    <br><br>
    <h3 class="mb-4">Create New Listing</h3>

    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" id="title" type="text" class="form-control" placeholder="Enter title" required>
        <div class="invalid-feedback">Please enter a title.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" id="description" class="form-control" placeholder="Enter description" required></textarea>
        <div class="invalid-feedback">Please enter a description.</div>
      </div>

      <div class="mb-3">
        <label for="imageUrl" class="form-label">Upload Image </label>
        <div class="mb-3">
          <input name="image" id="image" type="file" class="form-control" required>
          <div class="invalid-feedback">Please upload an image.</div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" id="price" type="text" class="form-control" placeholder="Enter price" required>
          <div class="invalid-feedback">Please enter a price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" id="location" type="text" class="form-control" placeholder="Enter location" required>
          <div class="invalid-feedback">Please enter a location.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" id="country" type="text" class="form-control" placeholder="Enter country" required>
        <div class="invalid-feedback">Please enter a country.</div>
      </div>

      <!-- Category Dropdown -->
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="listing[category]" id="category" class="form-select" required>
          <option value="">Select a category</option>
          <option value="Beaches">Beaches</option>
          <option value="Camping">Camping</option>
          <option value="Mountains">Mountains</option>
          <option value="Desert">Desert</option>
          <option value="Safari">Safari</option>
          <option value="Forest">Forest</option>
          <option value="Iconic Cities">Iconic Cities</option>
        </select>
        <div class="invalid-feedback">Please select a category.</div>
      </div>

      <button class="btn btn-primary w-100" type="submit">Add</button>
      <br><br>
    </form>
  </div>
</div>
